.post_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}

.post {
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;

}

.post_text {
    font-weight: normal;
    padding: 20px;
    cursor: text;
}

strong {
    font-weight: bold;
}

.post_header {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
.post_avatar {
    margin-right: 10px;
}